xsd/Shoes.xsd

<?xml version="1.0"?>
<!-- Revision="$Revision: #1 $" -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <!--
    $Date: 2011/04/06 $

    AMAZON.COM CONFIDENTIAL.  This document and the information contained in it are
    confidential and proprietary information of Amazon.com and may not be reproduced, 
    distributed or used, in whole or in part, for any purpose other than as necessary 
    to list products for sale on the www.amazon.com web site pursuant to an agreement 
    with Amazon.com. 
    -->
    <xsd:include schemaLocation="amzn-base.xsd"/>
    <xsd:element name="Shoes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ClothingType">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="Accessory"/>
                            <xsd:enumeration value="Bag"/>
                            <xsd:enumeration value="Shoes"/>
                            <xsd:enumeration value="ShoeAccessory"/>
                            <xsd:enumeration value="Handbag"/>
                            <xsd:enumeration value="Eyewear"/>
							<xsd:enumeration value="Boot"/>
							<xsd:enumeration value="TechnicalSportShoe"/>
							<xsd:enumeration value="Sandal"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="VariationData" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Parentage" minOccurs="0">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:enumeration value="parent"/>
                                        <xsd:enumeration value="child"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="Size" type="StringNotNull" minOccurs="0"/>
                            <xsd:element name="Color" type="StringNotNull" minOccurs="0"/>
                            <xsd:element name="VariationTheme" minOccurs="0">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:enumeration value="Size"/>
                                        <xsd:enumeration value="Color"/>
                                        <xsd:enumeration value="SizeColor"/>
                                        <xsd:enumeration value="ColorName-MagnificationStrength"/>
                                        <xsd:enumeration value="ColorName-LensColor"/>
                                        <xsd:enumeration value="ColorName-LensWidth"/>
                                        <xsd:enumeration value="Material"/>	
                                        <xsd:enumeration value="SizeStyle"/>
                                        <xsd:enumeration value="StyleName"/>
                                        <xsd:enumeration value="PatternName"/>
                                        <xsd:enumeration value="Size-Material"/>
                                        <xsd:enumeration value="Size-PatternName"/>	
                                        <xsd:enumeration value="LensColor"/>
                                        <xsd:enumeration value="LensColorShape"/>
                                        <xsd:enumeration value="LensColorMaterial"/>
                                        <xsd:enumeration value="ColorSize"/>	
                                        <xsd:enumeration value="ItemPackageQuantity-Material"/>
                                        <xsd:enumeration value="ItemPackageQuantity"/>
                                        <xsd:enumeration value="Color-ItemPackageQuantity"/>
                                        <xsd:enumeration value="ItemPackageQuantity-Size"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ClassificationData">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="BaseLength" type="LengthDimension" minOccurs="0"/>						
                            <xsd:element name="CountryOfOrigin" type="CountryOfOriginType"
                                minOccurs="0"/>
                            <xsd:element name="Contributor" type="StringNotNull" minOccurs="0"/>								
                            <xsd:element name="ColorMap" type="String" minOccurs="0"/>
                            <xsd:element name="SizeMap" type="StringNotNull" minOccurs="0"/>
                            <xsd:element name="ArchType" type="LongString" minOccurs="0"/>
                            <xsd:element name="ArmLength" type="LengthDimension" minOccurs="0"/>
                            <xsd:element name="BeltStyle" type="String" minOccurs="0"/>
                            <xsd:element name="BootOpeningCircumference" type="LengthDimension"
                                minOccurs="0"/>
                            <xsd:element name="BridgeWidth" type="LengthDimension" minOccurs="0"/>
                            <xsd:element name="CareInstructions" type="String" minOccurs="0"/>
                            <xsd:element name="ShoeClosureType" type="String" minOccurs="0"/>
                            <xsd:element name="CountryProducedIn" type="String" minOccurs="0"/>
                            <xsd:element name="CleatDescription" type="LongString" minOccurs="0"/>
                            <xsd:element name="CleatMaterialType" type="LongString" minOccurs="0"/>
                            <xsd:element name="Department" type="StringNotNull" minOccurs="0"/>
                            <xsd:element name="ExternalTestingCertification" type="String"
                                minOccurs="0" maxOccurs="6"/>
                            <xsd:element name="FabricType" type="String" minOccurs="0"/>
                            <xsd:element name="ImportDesignation" type="String" minOccurs="0" />
                            <xsd:element name="CountryAsLabeled" type="CountryOfOriginType" minOccurs="0"/>
                            <xsd:element name="FurDescription" type="LongString" minOccurs="0"/>
                            <xsd:element name="FabricWash" type="String" minOccurs="0"/>
							<xsd:element name="FitToSizeDescription" type="StringNotNull" minOccurs="0"/>								
                            <xsd:element name="FrameMaterialType" type="LongString" minOccurs="0"/>
                            <xsd:element name="HarmonizedCode" type="StringNotNull" minOccurs="0"/>							
                            <xsd:element name="HeelHeight" type="LengthDimension" minOccurs="0"/>
                            <xsd:element name="HeelType" type="String" minOccurs="0"/>
                            <xsd:element name="InnerMaterial" type="LongString" minOccurs="0"/>
                            <xsd:element name="IsStainResistant" type="xsd:boolean" minOccurs="0"/>
                            <xsd:element name="IsVeryHighValue" type="xsd:boolean" minOccurs="0"/>
                            <xsd:element name="IsAdultProduct" type="xsd:boolean" minOccurs="0"/>
                            <xsd:element name="IncludedComponents" type="StringNotNull" minOccurs="0"/>							
                            <xsd:element name="ItemShape" type="LongString" minOccurs="0"/>
                            <xsd:element name="LensColor" type="LongString" minOccurs="0"/>
                            <xsd:element name="LensColorMap" type="LongString" minOccurs="0"/>
                            <xsd:element name="LensHeight" type="LengthDimension" minOccurs="0"/>
                            <xsd:element name="LensMaterialType" type="LongString" minOccurs="0"/>
                            <xsd:element name="LensType" type="StringNotNull" minOccurs="0"/>							
                            <xsd:element name="LensWidth" type="LengthDimension" minOccurs="0"/>
                            <xsd:element name="LiningDescription" type="LongString" minOccurs="0"/>
                            <xsd:element name="OccasionAndLifestyle" type="LongString" minOccurs="0"
                                maxOccurs="10"/>
                            <xsd:element name="OccasionType" type="StringNotNull" minOccurs="0"/>
                            <xsd:element name="MagnificationStrength" type="OptionalMagnificationDimension" minOccurs="0"/>
                            <xsd:element name="MaterialComposition" type="LongString" minOccurs="0"/>
                            <xsd:element name="MaterialType" type="String" minOccurs="0"
                                maxOccurs="3"/>
							<xsd:element name="ModelNumber" type="StringNotNull" minOccurs="0"/>
                            <xsd:element name="ModelName" type="StringNotNull" minOccurs="0"/>
                            <xsd:element name="ModelYear" type="FourDigitYear" minOccurs="0"/>
                            <xsd:element name="NumberOfPockets" type="xsd:positiveInteger"
                                minOccurs="0"/>							
                            <xsd:element name="OuterMaterialType" type="HundredString" minOccurs="0"/>
                            <xsd:element name="MaterialOpacity" type="HundredString" minOccurs="0"/>
                            <xsd:element name="PatternStyle" type="String" minOccurs="0"/>
                            <xsd:element name="PerformanceRating" type="HundredString" minOccurs="0"
                                maxOccurs="3"/>
                            <xsd:element name="PlatformHeight" type="Dimension" minOccurs="0"/>
                            <xsd:element name="PocketDescription" type="String" minOccurs="0"/>
                            <xsd:element name="PolarizationType" type="LongString" minOccurs="0"/>
                            <xsd:element name="Season" type="HundredString" minOccurs="0"/>
                            <xsd:element name="ShaftHeight" type="StringLengthOptionalDimension"
                                minOccurs="0"/>
                            <xsd:element name="ShaftWidth" type="StringLengthOptionalDimension"
                                minOccurs="0"/>
                            <xsd:element name="ShaftDiameter" type="StringLengthOptionalDimension"
                                minOccurs="0"/>
                            <xsd:element name="ShoulderStrapDrop" type="LengthDimension"
                                minOccurs="0"/>
                            <xsd:element name="ShoeHeightMap" type="String" minOccurs="0"/>
                            <xsd:element name="SpecialSizeType" type="String" minOccurs="0"/>
                            <xsd:element name="SoleMaterial" type="LongString" minOccurs="0"/>
                            <xsd:element name="StrapType" type="LongString" minOccurs="0"/>
                            <xsd:element name="SpecialFeatures" type="LongString" minOccurs="0"
                                maxOccurs="3"/>
                            <xsd:element name="SpecificUses" type="StringNotNull" minOccurs="0"
                                maxOccurs="3"/>
                            <xsd:element name="Character" type="HundredString" minOccurs="0"/>
                            <xsd:element name="ToeShape" type="HundredString" minOccurs="0"/>
                            <xsd:element name="TargetGender" type="TargetGenderType" minOccurs="0"/>							
                            <xsd:element name="WarrantyType" type="StringNotNull" minOccurs="0"/>
                            <xsd:element name="WarrantyDescription" type="StringNotNull" minOccurs="0"/>							
                            <xsd:element name="WaistSize" type="ClothingSizeDimension" minOccurs="0"/>
                            <xsd:element name="WaistStyle" type="String" minOccurs="0"/>
                            <xsd:element name="WheelType" type="String" minOccurs="0"/>
                            <xsd:element name="WaterResistanceLevel" minOccurs="0">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:enumeration value="waterproof"/>
                                        <xsd:enumeration value="not_water_resistant"/>
                                        <xsd:enumeration value="water_resistant"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="PatternName" type="TwoThousandString" minOccurs="0"/>
                            <xsd:element name="SafetyWarning" type="SuperLongStringNotNull"
                                minOccurs="0"/>
                            <xsd:element name="ManufacturerWarrantyType" type="StringNotNull"
                                minOccurs="0"/>
                            <xsd:element name="MfrWarrantyDescriptionLabor" type="StringNotNull"
                                minOccurs="0"/>
                            <xsd:element name="MfrWarrantyDescriptionParts" type="StringNotNull"
                                minOccurs="0"/>
                            <xsd:element name="SellerWarrantyDescription"
                                type="SuperLongStringNotNull" minOccurs="0"/>
                            <xsd:element name="StyleKeywords" type="LongStringNotNull" minOccurs="0"
                                maxOccurs="3"/>
                            <xsd:element name="StyleName" type="TwoThousandString" minOccurs="0"/>
                            <xsd:element name="TeamName" type="StringNotNull" minOccurs="0"/>
                            <xsd:element name="ToeStyle" type="LongString" minOccurs="0"/>
                            <xsd:element name="NumberOfItems" type="xsd:positiveInteger"
                                minOccurs="0"/>
                            <xsd:element name="ItemDisplayWeight" type="WeightDimension"
                                minOccurs="0"/>
                            <xsd:element name="ItemDisplayVolume" type="VolumeDimension"
                                minOccurs="0"/>
                            <xsd:element name="ItemDisplayLength" type="LengthDimension"
                                minOccurs="0"/>
                            <xsd:element name="ItemDisplayWidth" type="LengthDimension"
                                minOccurs="0"/>
                            <xsd:element name="ItemDisplayHeight" type="LengthDimension"
                                minOccurs="0"/>
                            <xsd:element ref="Battery" minOccurs="0"/>
                            <xsd:element name="BatteryCellComposition" type="BatteryCellTypeValues" minOccurs="0"/>
                            <xsd:element name="BatteryDescription" type="String" minOccurs="0"/>
                            <xsd:element name="BatteryFormFactor" type="String" minOccurs="0"/>
                            <xsd:element name="LithiumBatteryWeight" type="xsd:decimal" minOccurs="0"/>
                            <xsd:element name="SportType" type="String" minOccurs="0"/>
                            <xsd:element name="ShellType" type="String" minOccurs="0"/>
                            <xsd:element name="CollectionName" type="String" minOccurs="0"/>
                            <xsd:element name="InsoleType" type="String" minOccurs="0"/>
                            <xsd:element name="LeatherType" type="String" minOccurs="0"/>
                            <xsd:element name="PronationCorrection" type="String" minOccurs="0"/>
                            <xsd:element name="ShoeSafetyCodeIso20345" type="ShoeSafetyCodeIso20345Type" minOccurs="0"/>
                            <xsd:element name="ShoeWidth" type="String" minOccurs="0"/>
                            <xsd:element name="SurfaceRecommendation" type="String" minOccurs="0"/>
                            <xsd:element name="VolumeCapacityName" type="VolumeDimension" minOccurs="0"/>
                            <xsd:element name="NumberOfWheels" type="PositiveInteger" minOccurs="0"/>
                            <xsd:element name="InsertMaterial" type="String" minOccurs="0"/>
                            <xsd:element name="ShaftDiameterDerived" type="PositiveInteger" minOccurs="0"/>
                            <xsd:element name="BatteryWeight" type="xsd:decimal" minOccurs="0"/>
                            <xsd:element name="MaximumCircumference" type="LengthDimension" minOccurs="0"/>
                            <xsd:element name="Opacity" type="StringNotNull" minOccurs="0"/>
                            <xsd:element name="RiseStyle" type="StringNotNull" minOccurs="0"/>
							<xsd:element name="ShaftType" type="StringNotNull" minOccurs="0"/>
                            <xsd:element name="ItemPackageQuantity" type="xsd:positiveInteger" minOccurs="0"/>
							<xsd:element name="Codabar" type="StringNotNull" minOccurs="0"/>                           </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
				



<!--
###########################################################################################################################################################
#  Element ShoeSizeComplianceData Attributes to be filled-in for US/EU/JP marketplaces only when ClothingType is: SHOES, BOOT, SANDAL, TECHNICAL_SPORT_SHOE #. 
   Please refer to the Help Pages for more info
   US:   https://sellercentral.amazon.com/forums/t/update-to-the-feed-templates-for-shoes-listings-in-the-us/456839 #
   UK,ES,FR,IT,DE,IN:  https://sellercentral-europe.amazon.com/gp/help/G200342660
   CA:	https://sellercentral.amazon.ca/gp/help/help.html?itemID=G200342660
   JP : https://sellercentral.amazon.co.jp/forums/t/topic/17987
###########################################################################################################################################################
-->
				<xsd:element name="ShoeSizeComplianceData" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
						    <xsd:element name="AgeRangeDescription" type="StringNotNull" minOccurs="0"/>
                        <!-- For AgeRangeDescription please select one of the following values US: little_kid, big_kid, toddler, adult, infant ;
                        UK,ES,FR,IT,DE,IN : please select one of the following values adult, kid, baby  
						JP : please select one of the following values 大人, キッズ , ベビー  -->					
							<xsd:element name="FootwearSizeSystem" type="FootwearSizeSystemValues" minOccurs="0"/>
                            <xsd:element name="ShoeSizeAgeGroup" type="ShoeSizeAgeGroupValues" minOccurs="0"/>
							<!-- The attribute 'ShoeSizeGender' is not applicable for JP, EU4 (DE, FR, IT & ES)-->
                            <xsd:element name="ShoeSizeGender" type="ShoeSizeGenderValues" minOccurs="0"/>
                            <xsd:element name="ShoeSizeClass" type="ShoeSizeClassValues" minOccurs="0"/>
							<xsd:element name="ShoeSizeWidth" type="ShoeSizeWidthValues" minOccurs="0"/>
							<xsd:element name="ShoeSize" type="ShoeSizeValues" minOccurs="0"/>
							<xsd:element name="ShoeSizeToRange" type="ShoeSizeValues" minOccurs="0"/>
							<!-- The below attributes are not applicable for JP, EU4 (DE, FR, IT & ES)
							This is intended to capture details for Unisex(Men and Women) separately!
							-->
							<xsd:element name="ShoeSizeGenderUnisex" type="ShoeSizeGenderValues" minOccurs="0"/>
							<!-- ShoeSizeWidthUnisex is not applicable for UK, IN -->							
							<xsd:element name="ShoeSizeWidthUnisex" type="ShoeSizeWidthValues" minOccurs="0"/>
							<xsd:element name="ShoeSizeUnisex" type="ShoeSizeValues" minOccurs="0"/>
							<xsd:element name="ShoeSizeToRangeUnisex" type="ShoeSizeValues" minOccurs="0"/>
						</xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
				

				
				
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>				
    <xsd:simpleType name="ShoeSafetyCodeIso20345Type">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="sb"/>
            <xsd:enumeration value="s1"/>
            <xsd:enumeration value="s2"/>
            <xsd:enumeration value="s3"/>
            <xsd:enumeration value="hro"/>
            <xsd:enumeration value="p"/>
            <xsd:enumeration value="e"/>
            <xsd:enumeration value="wru"/>
            <xsd:enumeration value="o"/>
            <xsd:enumeration value="a"/>
            <xsd:enumeration value="ci"/>
            <xsd:enumeration value="hi"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="FootwearSizeSystemValues">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="us_footwear_size_system"/>
			<xsd:enumeration value="eu_footwear_size_system"/>
			<xsd:enumeration value="uk_footwear_size_system"/>
			<xsd:enumeration value="jp_footwear_size_system"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ShoeSizeAgeGroupValues">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="adult"/>
			<xsd:enumeration value="big_kid"/>
			<xsd:enumeration value="little_kid"/>
			<xsd:enumeration value="toddler"/>
			<xsd:enumeration value="infant"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ShoeSizeGenderValues">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="men"/>
			<xsd:enumeration value="women"/>
        </xsd:restriction>
    </xsd:simpleType>	
    <xsd:simpleType name="ShoeSizeClassValues">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="numeric"/>
			<xsd:enumeration value="numeric_range"/>
			<xsd:enumeration value="alpha"/>
			<xsd:enumeration value="alpha_range"/>
			<xsd:enumeration value="age"/>
			<xsd:enumeration value="age_range"/>
			<xsd:enumeration value="measurement"/>
			<xsd:enumeration value="measurement_range"/>			
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ShoeSizeWidthValues">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="xxx_narrow"/>
			<xsd:enumeration value="xx_narrow"/>
			<xsd:enumeration value="x_narrow"/>
			<xsd:enumeration value="narrow"/>
			<xsd:enumeration value="medium"/>
			<xsd:enumeration value="wide"/>
			<xsd:enumeration value="x_wide"/>
			<xsd:enumeration value="xx_wide"/>
			<xsd:enumeration value="xxx_wide"/>
			<!-- The below width enumerations are applicable for JP only -->
			<xsd:enumeration value="2_point_5_e"/>
            <xsd:enumeration value="2_a"/>
            <xsd:enumeration value="3_a"/>
            <xsd:enumeration value="4_a"/>
            <xsd:enumeration value="2_e"/>
            <xsd:enumeration value="3_e"/>
            <xsd:enumeration value="4_e"/>
            <xsd:enumeration value="5_e"/>
            <xsd:enumeration value="6_e"/>
            <xsd:enumeration value="4_point_5_e"/>
            <xsd:enumeration value="b"/>
            <xsd:enumeration value="a"/>
            <xsd:enumeration value="d"/>
            <xsd:enumeration value="c"/>
            <xsd:enumeration value="f"/>
            <xsd:enumeration value="e"/>
            <xsd:enumeration value="h"/>
            <xsd:enumeration value="g"/>
            <xsd:enumeration value="m"/>
            <xsd:enumeration value="1_point_5_e"/>
            <xsd:enumeration value="w"/>
            <xsd:enumeration value="3_point_5_e"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ShoeSizeValues">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0_months"/>
            <xsd:enumeration value="3_months"/>
            <xsd:enumeration value="6_months"/>
            <xsd:enumeration value="9_months"/>
            <xsd:enumeration value="12_months"/>
            <xsd:enumeration value="15_months"/>
            <xsd:enumeration value="18_months"/>
            <xsd:enumeration value="21_months"/>
            <xsd:enumeration value="24_months"/>
            <xsd:enumeration value="2_years"/>
            <xsd:enumeration value="2_point_5_years"/>
            <xsd:enumeration value="3_years"/>
            <xsd:enumeration value="3_point_5_years"/>
            <xsd:enumeration value="4_years"/>
            <xsd:enumeration value="4_point_5_years"/>
            <xsd:enumeration value="5_years"/>
            <xsd:enumeration value="numeric_0"/>
            <xsd:enumeration value="numeric_0_point_5"/>
            <xsd:enumeration value="numeric_1"/>
            <xsd:enumeration value="numeric_1_point_5"/>
            <xsd:enumeration value="numeric_2"/>
            <xsd:enumeration value="numeric_2_point_5"/>
            <xsd:enumeration value="numeric_3"/>
            <xsd:enumeration value="numeric_3_point_5"/>
            <xsd:enumeration value="numeric_4"/>
            <xsd:enumeration value="numeric_4_point_5"/>
            <xsd:enumeration value="numeric_5"/>
            <xsd:enumeration value="numeric_5_point_5"/>
            <xsd:enumeration value="numeric_6"/>
            <xsd:enumeration value="numeric_6_point_5"/>
            <xsd:enumeration value="numeric_7"/>
            <xsd:enumeration value="numeric_7_point_5"/>
            <xsd:enumeration value="numeric_8"/>
            <xsd:enumeration value="numeric_8_point_5"/>
            <xsd:enumeration value="numeric_9"/>
            <xsd:enumeration value="numeric_9_point_5"/>
            <xsd:enumeration value="numeric_10"/>
            <xsd:enumeration value="numeric_10_point_5"/>
            <xsd:enumeration value="numeric_11"/>
            <xsd:enumeration value="numeric_11_point_5"/>
            <xsd:enumeration value="numeric_12"/>
            <xsd:enumeration value="numeric_12_point_5"/>
            <xsd:enumeration value="numeric_13"/>
            <xsd:enumeration value="numeric_13_point_5"/>
            <xsd:enumeration value="numeric_14"/>
            <xsd:enumeration value="numeric_14_point_5"/>
            <xsd:enumeration value="numeric_15"/>
            <xsd:enumeration value="numeric_15_point_5"/>
            <xsd:enumeration value="numeric_16"/>
            <xsd:enumeration value="numeric_16_point_5"/>
            <xsd:enumeration value="numeric_17"/>
            <xsd:enumeration value="numeric_17_point_5"/>
            <xsd:enumeration value="numeric_18"/>
            <xsd:enumeration value="numeric_18_point_5"/>
            <xsd:enumeration value="numeric_19"/>
            <xsd:enumeration value="numeric_19_point_5"/>
            <xsd:enumeration value="numeric_20"/>
            <xsd:enumeration value="one_size"/>
            <xsd:enumeration value="xxx_s"/>
            <xsd:enumeration value="xx_s"/>
            <xsd:enumeration value="x_s"/>
			<!-- Enumerations 'ss' , 'll' are applicable for JP only -->
			<xsd:enumeration value="ss"/>
            <xsd:enumeration value="small"/>
            <xsd:enumeration value="medium"/>
            <xsd:enumeration value="large"/>
			<xsd:enumeration value="ll"/>
            <xsd:enumeration value="x_l"/>
            <xsd:enumeration value="xx_l"/>
            <xsd:enumeration value="xxx_l"/>
			<!-- Below enumerations are applicable for ES,FR,IT& DE only -->
			<xsd:enumeration value="fraction_14_and_1_ninth"/>
            <xsd:enumeration value="fraction_14_and_1_third"/>
            <xsd:enumeration value="fraction_14_and_2_thirds"/>
            <xsd:enumeration value="fraction_15_and_1_ninth"/>
            <xsd:enumeration value="fraction_15_and_1_third"/>
            <xsd:enumeration value="fraction_15_and_2_thirds"/>
            <xsd:enumeration value="fraction_16_and_1_ninth"/>
            <xsd:enumeration value="fraction_16_and_1_third"/>
            <xsd:enumeration value="fraction_16_and_2_thirds"/>
            <xsd:enumeration value="fraction_17_and_1_ninth"/>
            <xsd:enumeration value="fraction_17_and_1_third"/>
            <xsd:enumeration value="fraction_17_and_2_thirds"/>
            <xsd:enumeration value="fraction_18_and_1_ninth"/>
            <xsd:enumeration value="fraction_18_and_1_third"/>
            <xsd:enumeration value="fraction_18_and_2_thirds"/>
            <xsd:enumeration value="fraction_19_and_1_ninth"/>
            <xsd:enumeration value="fraction_19_and_1_third"/>
            <xsd:enumeration value="fraction_19_and_2_thirds"/>
            <xsd:enumeration value="fraction_20_and_1_ninth"/>
            <xsd:enumeration value="fraction_20_and_1_third"/>
            <xsd:enumeration value="numeric_20_point_5"/>
            <xsd:enumeration value="fraction_20_and_2_thirds"/>
            <xsd:enumeration value="numeric_21"/>
            <xsd:enumeration value="fraction_21_and_1_ninth"/>
            <xsd:enumeration value="fraction_21_and_1_third"/>
            <xsd:enumeration value="numeric_21_point_5"/>
            <xsd:enumeration value="fraction_21_and_2_thirds"/>
            <xsd:enumeration value="numeric_22"/>
            <xsd:enumeration value="fraction_22_and_1_ninth"/>
            <xsd:enumeration value="fraction_22_and_1_third"/>
            <xsd:enumeration value="numeric_22_point_5"/>
            <xsd:enumeration value="fraction_22_and_2_thirds"/>
            <xsd:enumeration value="numeric_23"/>
            <xsd:enumeration value="fraction_23_and_1_ninth"/>
            <xsd:enumeration value="fraction_23_and_1_third"/>
            <xsd:enumeration value="numeric_23_point_5"/>
            <xsd:enumeration value="fraction_23_and_2_thirds"/>
            <xsd:enumeration value="numeric_24"/>
            <xsd:enumeration value="fraction_24_and_1_ninth"/>
            <xsd:enumeration value="fraction_24_and_1_third"/>
            <xsd:enumeration value="numeric_24_point_5"/>
            <xsd:enumeration value="fraction_24_and_2_thirds"/>
            <xsd:enumeration value="numeric_25"/>
            <xsd:enumeration value="fraction_25_and_1_ninth"/>
            <xsd:enumeration value="fraction_25_and_1_third"/>
            <xsd:enumeration value="numeric_25_point_5"/>
            <xsd:enumeration value="fraction_25_and_2_thirds"/>
            <xsd:enumeration value="numeric_26"/>
            <xsd:enumeration value="fraction_26_and_1_ninth"/>
            <xsd:enumeration value="fraction_26_and_1_third"/>
            <xsd:enumeration value="numeric_26_point_5"/>
            <xsd:enumeration value="fraction_26_and_2_thirds"/>
            <xsd:enumeration value="numeric_27"/>
            <xsd:enumeration value="fraction_27_and_1_ninth"/>
            <xsd:enumeration value="fraction_27_and_1_third"/>
            <xsd:enumeration value="numeric_27_point_5"/>
            <xsd:enumeration value="fraction_27_and_2_thirds"/>
            <xsd:enumeration value="numeric_28"/>
            <xsd:enumeration value="fraction_28_and_1_ninth"/>
            <xsd:enumeration value="fraction_28_and_1_third"/>
            <xsd:enumeration value="numeric_28_point_5"/>
            <xsd:enumeration value="fraction_28_and_2_thirds"/>
            <xsd:enumeration value="numeric_29"/>
            <xsd:enumeration value="fraction_29_and_1_ninth"/>
            <xsd:enumeration value="fraction_29_and_1_third"/>
            <xsd:enumeration value="numeric_29_point_5"/>
            <xsd:enumeration value="fraction_29_and_2_thirds"/>
            <xsd:enumeration value="numeric_30"/>
            <xsd:enumeration value="fraction_30_and_1_ninth"/>
            <xsd:enumeration value="fraction_30_and_1_third"/>
            <xsd:enumeration value="numeric_30_point_5"/>
            <xsd:enumeration value="fraction_30_and_2_thirds"/>
            <xsd:enumeration value="numeric_31"/>
            <xsd:enumeration value="fraction_31_and_1_ninth"/>
            <xsd:enumeration value="fraction_31_and_1_third"/>
            <xsd:enumeration value="numeric_31_point_5"/>
            <xsd:enumeration value="fraction_31_and_2_thirds"/>
            <xsd:enumeration value="numeric_32"/>
            <xsd:enumeration value="fraction_32_and_1_ninth"/>
            <xsd:enumeration value="fraction_32_and_1_third"/>
            <xsd:enumeration value="numeric_32_point_5"/>
            <xsd:enumeration value="fraction_32_and_2_thirds"/>
            <xsd:enumeration value="numeric_33"/>
            <xsd:enumeration value="fraction_33_and_1_ninth"/>
            <xsd:enumeration value="fraction_33_and_1_third"/>
            <xsd:enumeration value="numeric_33_point_5"/>
            <xsd:enumeration value="fraction_33_and_2_thirds"/>
            <xsd:enumeration value="numeric_34"/>
            <xsd:enumeration value="fraction_34_and_1_ninth"/>
            <xsd:enumeration value="fraction_34_and_1_third"/>
            <xsd:enumeration value="numeric_34_point_5"/>
            <xsd:enumeration value="fraction_34_and_2_thirds"/>
            <xsd:enumeration value="numeric_35"/>
            <xsd:enumeration value="fraction_35_and_1_ninth"/>
            <xsd:enumeration value="fraction_35_and_1_third"/>
            <xsd:enumeration value="numeric_35_point_5"/>
            <xsd:enumeration value="fraction_35_and_2_thirds"/>
            <xsd:enumeration value="numeric_36"/>
            <xsd:enumeration value="fraction_36_and_1_ninth"/>
            <xsd:enumeration value="fraction_36_and_1_third"/>
            <xsd:enumeration value="numeric_36_point_5"/>
            <xsd:enumeration value="fraction_36_and_2_thirds"/>
            <xsd:enumeration value="numeric_37"/>
            <xsd:enumeration value="fraction_37_and_1_ninth"/>
            <xsd:enumeration value="fraction_37_and_1_third"/>
            <xsd:enumeration value="numeric_37_point_5"/>
            <xsd:enumeration value="fraction_37_and_2_thirds"/>
            <xsd:enumeration value="numeric_38"/>
            <xsd:enumeration value="fraction_38_and_1_ninth"/>
            <xsd:enumeration value="fraction_38_and_1_third"/>
            <xsd:enumeration value="numeric_38_point_5"/>
            <xsd:enumeration value="fraction_38_and_2_thirds"/>
            <xsd:enumeration value="numeric_39"/>
            <xsd:enumeration value="fraction_39_and_1_ninth"/>
            <xsd:enumeration value="fraction_39_and_1_third"/>
            <xsd:enumeration value="numeric_39_point_5"/>
            <xsd:enumeration value="fraction_39_and_2_thirds"/>
            <xsd:enumeration value="numeric_40"/>
            <xsd:enumeration value="fraction_40_and_1_ninth"/>
            <xsd:enumeration value="fraction_40_and_1_third"/>
            <xsd:enumeration value="numeric_40_point_5"/>
            <xsd:enumeration value="fraction_40_and_2_thirds"/>
            <xsd:enumeration value="numeric_41"/>
            <xsd:enumeration value="fraction_41_and_1_ninth"/>
            <xsd:enumeration value="fraction_41_and_1_third"/>
            <xsd:enumeration value="numeric_41_point_5"/>
            <xsd:enumeration value="fraction_41_and_2_thirds"/>
            <xsd:enumeration value="numeric_42"/>
            <xsd:enumeration value="fraction_42_and_1_ninth"/>
            <xsd:enumeration value="fraction_42_and_1_third"/>
            <xsd:enumeration value="numeric_42_point_5"/>
            <xsd:enumeration value="fraction_42_and_2_thirds"/>
            <xsd:enumeration value="numeric_43"/>
            <xsd:enumeration value="fraction_43_and_1_ninth"/>
            <xsd:enumeration value="fraction_43_and_1_third"/>
            <xsd:enumeration value="numeric_43_point_5"/>
            <xsd:enumeration value="fraction_43_and_2_thirds"/>
            <xsd:enumeration value="numeric_44"/>
            <xsd:enumeration value="fraction_44_and_1_ninth"/>
            <xsd:enumeration value="fraction_44_and_1_third"/>
            <xsd:enumeration value="numeric_44_point_5"/>
            <xsd:enumeration value="fraction_44_and_2_thirds"/>
            <xsd:enumeration value="numeric_45"/>
            <xsd:enumeration value="fraction_45_and_1_ninth"/>
            <xsd:enumeration value="fraction_45_and_1_third"/>
            <xsd:enumeration value="numeric_45_point_5"/>
            <xsd:enumeration value="fraction_45_and_2_thirds"/>
            <xsd:enumeration value="numeric_46"/>
            <xsd:enumeration value="fraction_46_and_1_ninth"/>
            <xsd:enumeration value="fraction_46_and_1_third"/>
            <xsd:enumeration value="numeric_46_point_5"/>
            <xsd:enumeration value="fraction_46_and_2_thirds"/>
            <xsd:enumeration value="numeric_47"/>
            <xsd:enumeration value="fraction_47_and_1_ninth"/>
            <xsd:enumeration value="fraction_47_and_1_third"/>
            <xsd:enumeration value="numeric_47_point_5"/>
            <xsd:enumeration value="fraction_47_and_2_thirds"/>
            <xsd:enumeration value="numeric_48"/>
            <xsd:enumeration value="fraction_48_and_1_ninth"/>
            <xsd:enumeration value="fraction_48_and_1_third"/>
            <xsd:enumeration value="numeric_48_point_5"/>
            <xsd:enumeration value="fraction_48_and_2_thirds"/>
            <xsd:enumeration value="numeric_49"/>
            <xsd:enumeration value="fraction_49_and_1_ninth"/>
            <xsd:enumeration value="fraction_49_and_1_third"/>
            <xsd:enumeration value="numeric_49_point_5"/>
            <xsd:enumeration value="fraction_49_and_2_thirds"/>
            <xsd:enumeration value="numeric_50"/>
            <xsd:enumeration value="fraction_50_and_1_ninth"/>
            <xsd:enumeration value="fraction_50_and_1_third"/>
            <xsd:enumeration value="numeric_50_point_5"/>
            <xsd:enumeration value="fraction_50_and_2_thirds"/>
            <xsd:enumeration value="numeric_51"/>
            <xsd:enumeration value="fraction_51_and_1_ninth"/>
            <xsd:enumeration value="fraction_51_and_1_third"/>
            <xsd:enumeration value="numeric_51_point_5"/>
            <xsd:enumeration value="fraction_51_and_2_thirds"/>
            <xsd:enumeration value="numeric_52"/>
            <xsd:enumeration value="fraction_52_and_1_ninth"/>
            <xsd:enumeration value="fraction_52_and_1_third"/>
            <xsd:enumeration value="numeric_52_point_5"/>
            <xsd:enumeration value="fraction_52_and_2_thirds"/>
            <xsd:enumeration value="numeric_53"/>
            <xsd:enumeration value="fraction_53_and_1_ninth"/>
            <xsd:enumeration value="fraction_53_and_1_third"/>
            <xsd:enumeration value="numeric_53_point_5"/>
            <xsd:enumeration value="fraction_53_and_2_thirds"/>
            <xsd:enumeration value="numeric_54"/>
            <xsd:enumeration value="fraction_54_and_1_ninth"/>
            <xsd:enumeration value="fraction_54_and_1_third"/>
            <xsd:enumeration value="numeric_54_point_5"/>
            <xsd:enumeration value="fraction_54_and_2_thirds"/>
            <xsd:enumeration value="numeric_55"/>
            <xsd:enumeration value="fraction_55_and_1_ninth"/>
            <xsd:enumeration value="fraction_55_and_1_third"/>
            <xsd:enumeration value="numeric_55_point_5"/>
            <xsd:enumeration value="fraction_55_and_2_thirds"/>
            <xsd:enumeration value="numeric_56"/>
            <xsd:enumeration value="fraction_56_and_1_ninth"/>
            <xsd:enumeration value="fraction_56_and_1_third"/>
            <xsd:enumeration value="numeric_56_point_5"/>
            <xsd:enumeration value="fraction_56_and_2_thirds"/>
            <xsd:enumeration value="numeric_57"/>
            <xsd:enumeration value="fraction_57_and_1_ninth"/>
            <xsd:enumeration value="fraction_57_and_1_third"/>
            <xsd:enumeration value="numeric_57_point_5"/>
            <xsd:enumeration value="fraction_57_and_2_thirds"/>
            <xsd:enumeration value="numeric_58"/>
            <xsd:enumeration value="fraction_58_and_1_ninth"/>
            <xsd:enumeration value="fraction_58_and_1_third"/>
            <xsd:enumeration value="numeric_58_point_5"/>
            <xsd:enumeration value="fraction_58_and_2_thirds"/>
            <xsd:enumeration value="numeric_59"/>
            <xsd:enumeration value="fraction_59_and_1_ninth"/>
            <xsd:enumeration value="fraction_59_and_1_third"/>
            <xsd:enumeration value="numeric_59_point_5"/>
            <xsd:enumeration value="fraction_59_and_2_thirds"/>
            <xsd:enumeration value="numeric_60"/>
			<!-- Below enumerations are applicable for JP measurement/ measurement_range class only -->	
			<xsd:enumeration value="measurement_10_point_0_centimeters"/>
            <xsd:enumeration value="measurement_10_point_5_centimeters"/>
            <xsd:enumeration value="measurement_11_point_0_centimeters"/>
            <xsd:enumeration value="measurement_11_point_5_centimeters"/>
            <xsd:enumeration value="measurement_12_point_0_centimeters"/>
            <xsd:enumeration value="measurement_12_point_5_centimeters"/>
            <xsd:enumeration value="measurement_13_point_0_centimeters"/>
            <xsd:enumeration value="measurement_13_point_5_centimeters"/>
            <xsd:enumeration value="measurement_14_point_0_centimeters"/>
            <xsd:enumeration value="measurement_14_point_5_centimeters"/>
            <xsd:enumeration value="measurement_15_point_0_centimeters"/>
            <xsd:enumeration value="measurement_15_point_5_centimeters"/>
            <xsd:enumeration value="measurement_16_point_0_centimeters"/>
            <xsd:enumeration value="measurement_16_point_5_centimeters"/>
            <xsd:enumeration value="measurement_17_point_0_centimeters"/>
            <xsd:enumeration value="measurement_17_point_5_centimeters"/>
            <xsd:enumeration value="measurement_18_point_0_centimeters"/>
            <xsd:enumeration value="measurement_18_point_5_centimeters"/>
            <xsd:enumeration value="measurement_19_point_0_centimeters"/>
            <xsd:enumeration value="measurement_19_point_5_centimeters"/>
            <xsd:enumeration value="measurement_20_point_0_centimeters"/>
            <xsd:enumeration value="measurement_20_point_5_centimeters"/>
            <xsd:enumeration value="measurement_21_point_0_centimeters"/>
            <xsd:enumeration value="measurement_21_point_5_centimeters"/>
            <xsd:enumeration value="measurement_22_point_0_centimeters"/>
            <xsd:enumeration value="measurement_22_point_5_centimeters"/>
            <xsd:enumeration value="measurement_23_point_0_centimeters"/>
            <xsd:enumeration value="measurement_23_point_5_centimeters"/>
            <xsd:enumeration value="measurement_24_point_0_centimeters"/>
            <xsd:enumeration value="measurement_24_point_5_centimeters"/>
            <xsd:enumeration value="measurement_25_point_0_centimeters"/>
            <xsd:enumeration value="measurement_25_point_5_centimeters"/>
            <xsd:enumeration value="measurement_26_point_0_centimeters"/>
            <xsd:enumeration value="measurement_26_point_5_centimeters"/>
            <xsd:enumeration value="measurement_27_point_0_centimeters"/>
            <xsd:enumeration value="measurement_27_point_5_centimeters"/>
            <xsd:enumeration value="measurement_28_point_0_centimeters"/>
            <xsd:enumeration value="measurement_28_point_5_centimeters"/>
            <xsd:enumeration value="measurement_29_point_0_centimeters"/>
            <xsd:enumeration value="measurement_29_point_5_centimeters"/>
            <xsd:enumeration value="measurement_30_point_0_centimeters"/>
            <xsd:enumeration value="measurement_30_point_5_centimeters"/>
            <xsd:enumeration value="measurement_31_point_0_centimeters"/>
            <xsd:enumeration value="measurement_31_point_5_centimeters"/>
            <xsd:enumeration value="measurement_32_point_0_centimeters"/>
            <xsd:enumeration value="measurement_32_point_5_centimeters"/>
            <xsd:enumeration value="measurement_33_point_0_centimeters"/>
            <xsd:enumeration value="measurement_33_point_5_centimeters"/>
            <xsd:enumeration value="measurement_34_point_0_centimeters"/>
            <xsd:enumeration value="measurement_34_point_5_centimeters"/>
            <xsd:enumeration value="measurement_35_point_0_centimeters"/>
            <xsd:enumeration value="measurement_35_point_5_centimeters"/>
            <xsd:enumeration value="measurement_36_point_0_centimeters"/>
            <xsd:enumeration value="measurement_36_point_5_centimeters"/>
            <xsd:enumeration value="measurement_37_point_0_centimeters"/>
            <xsd:enumeration value="measurement_37_point_5_centimeters"/>
            <xsd:enumeration value="measurement_38_point_0_centimeters"/>
            <xsd:enumeration value="measurement_38_point_5_centimeters"/>
            <xsd:enumeration value="measurement_39_point_0_centimeters"/>
            <xsd:enumeration value="measurement_39_point_5_centimeters"/>
            <xsd:enumeration value="measurement_40_point_0_centimeters"/>		
        </xsd:restriction>
    </xsd:simpleType>	
</xsd:schema>
